<configuration>
   <system.webServer>  
    <defaultDocument>
      <files>
        <!-- delete all currently configured index files -->
        <clear />
        <!-- add first index file -->
        <add value="index.html" />
      </files>
    </defaultDocument>  
    <rewrite>
      <rules>
        <rule name="Angular Routes Clientes" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <!-- if no file by that name exists -->
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <!-- if a directory by that name does exist -->
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" redirectType="Permanent" url="/FrontEnd/" />
          <!--<action type="Rewrite" url="/" />-->
        </rule>
      </rules>
    </rewrite>
  </system.webServer>  
 </configuration>