.divFoto
{
    text-align: center;
    min-height: 150px;
}

.user-avatar {
    border-radius: 50%;
    height: 250px !important;
    box-shadow: 1px 3px 4px 0px #eaeaea;
}

.left
{
    float: left;
}