.imagenesThumbnail {
  max-width: 300px;
  max-height: 200px;
}

.divError {
  background-color: lightyellow;
  color: tomato;
  text-align: center;
}

.divInformacion {
  background-color: lightgreen;
  color: #333;
  text-align: center;
}


//Material snackbBar
.snackbar-error
{
  background-color: burlywood;
  color:red;
}

.snackbar-info
{
   
}