<div [@routerTransition] class="div-main-page">
  <div class="divGridListarAdmin">
    <div class="animated fadeIn">
      <app-list boxTitle="<span class='material-icons'>calendar_today</span> Días festivos" [fields]='fields'
        [initSortField]="sorting" [data]="data" [addMethod]="add" [showAdd]="_puedeCrear" [paginador]="pagination"
        [modalMode]="false" [editMethod]="edit" [queryMethod]="query" [searchValueInit]="searchValue"
        [searchFieldInit]="searchField">
      </app-list>
    </div>
  </div>
</div>